<!DOCTYPE html>
<html>
	<head>
		<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
		<link rel="manifest" href="/static/site.webmanifest">
		<link rel="stylesheet" href="/static/style.css" />
		{% block head %}
		<title>Liste de courses</title>
		{# <title>{% block title %}{% endblock %} - My Webpage</title> #}
		{% endblock %}
	</head>
	<body>
		<div id="content">
		{% block content %}{% endblock %}
		</div>
		{# <div id="footer">
			{% block footer %}
				&copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
			{% endblock %}
		</div> #}
	</body>
</html>
