{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="https://zeptojs.com/zepto.min.js"></script>
	<script type="text/javascript">
		function toggle(e) {
			var li = e.parentNode;
			var itemKey = li.attributes["name"].nodeValue;
			var url = window.location.href + "/" + itemKey;
			$.ajax({"type":"POST", "url":url});
		};

		function remove(e) {
			var li = e.parentNode;
			var itemKey = li.attributes["name"].nodeValue;
			var url = window.location.href + "/" + itemKey;
			$.ajax({"type":"DELETE", "url":url});
			li.parentNode.removeChild(li);
		};
	</script>
{% endblock %}
{% block content %}
	<div class="header">
		<form method="post">
			<input type="text" name="new_value" autofocus/>
			<input type="submit" value="Add" />
		</form>
	</div>
	<ul>
	{% for item in liste.items %}
		<li name="{{ item.id }}">
			<input	onclick="toggle(this);"
					type="checkbox"
					{% if item.checked %}
						checked="checked"
					{% endif %}
	  				id="checkbox-{{ item.id }}"
			/>
			<label for="checkbox-{{ item.id }}">
				{{ item.text }}
			</label>
			<a href="#" onclick="remove(this); return false">
				{#<img src="static/recycle_bin.png"/>#}
				<span class="closed">&#x00D7;</span>
			</a>
		</li>
	{% endfor %}
	</ul>
{% endblock %}
